* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.leftBar {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  background-color: #0d1116;
}

.leftBarIcon {
  cursor: pointer;
  margin-left: 35%;
  margin-top: 35%;
  margin-bottom: 25%;
  color: rgb(134, 134, 134);
}

.leftBarIcon:hover {
  color: rgb(215, 215, 215);
}

.svg-icon {
  fill: blue;
}

.icon-container {
  position: relative;
}

.leftBar .active {
  color: rgb(215, 215, 215);
}

.icon-container.active::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  width: 3px;
  height: 100%;
  background-color: #0078d4;
}

.mainSection {
  height: 100%;
  width: 100%;
}
